<%- include('partials/header') -%>
<section id='blur'>
    <section id="ticket">
        <div id="PNRdetails" class="PNRcontainer">
            <div class="pnrdata">
                <p>PNR: <span id="pnrdataNumber"><%= response.Pnr %></span></p>
                <div class="pnrutility">
                    <span title="Copy Pnr" onclick="copyToClipBoard('pnrdataNumber')" class="utility pnrcopy"><i class="fa-solid fa-copy"></i></span>
                    <span title="Print" onclick="printIt('PNRdetails')" class="utility pnrprint"><i class="fa-solid fa-print"></i></span>
                </div>
            </div>
            <div class="pnrdata">
                <div class="pnrdata2">
                    <p class="stn"><span><%= response.BoardingStationName %></span> <span>(<%= response.From %>)</span></p>
                    <p><%= response.DepartureTime %></p>
                    <p></p>
                    <p><%= response.Doj %></p>
                </div>
                <div class="pnrdata2">
                    <p class="stn"><span><%= response.ReservationUptoName %></span> <span>(<%= response.To %>)</span></p>
                    <p><%= response.ArrivalTime %></p>
                    <p></p>
                    <p><%= response.DestinationDoj %></p>
                </div>
            </div>
            <div class="pnrdata">
                <p>Train Number: <span><%= response.TrainNo %></span></p>
                <p>Train Name: <span><%= response.TrainName %></span></p>
            </div>
            <div class="pnrdata pnrdata0">
                <div class="pnrdata1">
                    <p>DOJ: <span><%= response.Doj %></span></p>
                    <p>Duration: <span><%= response.Duration %> hrs</span></p>
                </div>
                <div class="pnrdata1">
                    <p>Class: <span><%= response.Class %></span></p>
                    <p>No. of Travelers: <span><%= response.PassengerCount %></span></p>
                </div>
            </div>
            <div class="pnrdata">
                <p>Boarding Stn: <span><%= response.BoardingStationName %></span> <span>(<%= response.BoardingPoint %>)</span></p>
                <p>Booking Quota: <span><%= response.Quota %></span></p>
            </div>

            <div class="pnrdata pnrdata0">
                <div class="pnrdata1">
                    <p>Booking Date: <span><%= response.Booking %></span></p>
                    <p>Train Cancelled: <span><%= response.TrainCancelledFlag? "Yes":"No" %></span></p>
                </div>
                <div class="pnrdata1">
                    <p>Departure Time: <span><%= response.DepartureTime %></span></p>
                    <p>Arrival Time: <span><%= response.ArrivalTime %></span></p>
                </div>
            </div>
            <div class="pnrdata">
                <p>From: <span><%= response.BoardingStationName %></span> <span>(<%= response.From %>)</span></p>
                <p>To: <span><%= response.ReservationUptoName %></span> <span>(<%= response.To %>)</span></p>
            </div>
            <div class="pnrdata3">
                <table class="pnrtable">
                    <caption class="pnrtablecaption">Passenger Details</caption>
                    <thead class="pnrtablehead">
                        <th>S.No.</th>
                        <th>Booking Status</th>
                        <th>Current Status</th>
                        <th>Coach</th>
                        <th>Berth</th>
                        <th>Birth Type</th>
                    </thead>
                    <tbody class="pnrtablebody">
                        <% response.PassengerStatus.map((passenger)=>{ %>
                            <tr>
                                <td><%= passenger.Number %></td>
                                <td><%= passenger.BookingStatus %></td>
                                <td><%= passenger.CurrentStatus %></td>
                                <td><%= passenger.Coach %></td>
                                <td><%= passenger.Berth %></td>
                                <td><%= passenger.BookingBerthCode?passenger.BookingBerthCode:"-----" %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
            <div class="pnrdata pnrdata0">
                <div class="pnrdata1">
                    <p>Platform Number: <span><%= response.ExpectedPlatformNo %></span></p>
                    <p>Pantry Car: <span><%= response.HasPantry?"Yes" : "No" %></span></p>
                </div>
                <div class="pnrdata1">
                    <p>Chart Prepared: <span><%= response.ChartPrepared?"Yes" : "No" %></span></p>
                    <p>Ticket Fare: <span><%= response.TicketFare %></span></p>
                </div>
            </div>
            <div class="pnrdata4">
                <p>
                    Coach Position: <span><%= response.CoachPosition %></span>
                </p>
            </div>
            <div class="pnrdata pnrdata0">
                <div class="pnrdata1">
                    <p>Overall Rating: <span><%= response.Rating %></span></p>
                    <p>Food Rating: <span><%= response.FoodRating?response.FoodRating: "----" %></span></p>
                </div>
                <div class="pnrdata1">
                    <p>Puntuality Rating: <span><%= response.PunctualityRating %></span></p>
                    <p>Cleanliness Rating: <span><%= response.CleanlinessRating %></span></p>
                </div>
            </div>
        </div>
    </section>
</section>
<%- include('partials/footer') -%>


