<%- include('partials/header') -%>
<section id='blur'>
    <section id="TBWS">
            <form action="/TBWS" method="post" class="TBWSinput">
                <div class="form-floating mb-3 TBWS-input ">
                    <input type="text" class="form-control source search-station" id="floatingInput" placeholder="NDLS/New Delhi" autocomplete="off" name="Source">
                    <label for="floatingInput">Source Station</label>
                    <div class="autocom-box autocom-source" id="autocom-source"></div>
                </div>
                <div class="form-floating mb-3 TBWS-input ">
                    <input type="text" class="form-control destination search-station" id="floatingInput" placeholder="NDLS/New Delhi" autocomplete="off" name="Destination">
                    <label for="floatingInput">Destination Station</label>
                    <div class="autocom-box autocom-destination" id="autocom-destination"></div>
                </div>
                <div class="form-floating mb-3 TBWS-input ">
                    <input type="date" class="form-control destination" id="floatingInput" placeholder="12/12/2012" autocomplete="off" name="Date">
                    <label for="floatingInput">Date</label>
                </div>
                <div class="form-floating mb-3 TBWS-button">
                    <button type="submit" class="btn btn-success TBWS-search"><h4 class="h4">Search</h4></button>
                </div>
            </form>
    </section>

    <section id="TBWSoutput">
        <br>
        <p class="text-center">It shows trains from nearest Station also. So, check Carefully with station Code</p>
        <br>
        <div class="my-2 TBWS_Container">
            <% docs.forEach(function(trains){ %>
                <div class="bg-body-secondary mb-4 rounded-3">
                    <div class="TBWS_Tinfo">
                        <p class="train_name"> <%= trains.train_name %> (<%= trains.train_number %>)</p>
                        <p class="TBWS_SD"><b><em><%= trains.train_src %> - <%= trains.train_dstn %></em></b></p>
                    </div>
                    <div class="TBWS_Enq">
                        <div class="from">
                            <h5><%= trains.from %></h5>
                            <p><%= trains.from_sta %></p>
                            <%  const entered_date = trains.train_date; 
                                const dateParts = entered_date.split('-');
                                const day = parseInt(dateParts[0], 10);
                                const month = parseInt(dateParts[1], 10) - 1;
                                const year = parseInt(dateParts[2], 10);
                                const newDate = new Date(year, month, day);
                                const DepartureDate = newDate.toDateString();
                            %>
                            <p class="date"><em><%= DepartureDate %></em></p>
                        </div>
                        <div class="class_day">
                            <p class="Class"><b><em><%= trains.class_type %></em></b></p>
                            <p class="Run_Day"><em><%= trains.run_days %></em></p>
                        </div>
                        <div class="to">
                            <h5><%= trains.to %></h5>
                            <p><%= trains.to_sta %></p>
                            <%  const numberOfDays = trains.to_day-trains.from_day;
                                const nextDate = new Date(year, month, day + numberOfDays);
                                const ArrivalDate = nextDate.toDateString();
                            %>
                            <p class="date"><em><%= ArrivalDate %></em></p>
                        </div>
                    </div>
                </div> 
            <% }) %>
        </div>
    </section>
</section>
<%- include('partials/footer') -%>